{% extends "layout.html" %}

{% block main %}


    <div class="form-group" >
        <form action="/login" method="post" style="text-align: center;">
            <div>
                <input name="username" id="username" placeholder="username" type="text" autofocus>
            </div>
            
            <div>
                <input name="password" id="password" placeholder="password" type="password" autofocus>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    

{% endblock %}